.card{
    background-color: #e6eafa;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.2),
        0 1px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.card .sentence{
    font-size: 1rem;
    text-align: left;
    padding: 5px 0 15px 0;
}

.card .emojiText{
    font-size: 36px;
    text-align: left;
}

.card .reasoning-toggle{
    cursor: pointer;
    color: rgb(58, 58, 58);
}

.card .accordion{
    padding: 5px 25px;
    background-color: #d7d9e0;

    .accordion-li{
        margin: 5px 15px;
    }
}

.card .accordion.closed{
    display: none;
}

.card .accordion.open {
    display: block;
}

.card .copy-icon{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.4rem;
    color: rgb(109, 109, 109);

    &:hover{
        color: rgb(58, 58, 58);
    }
}   