.card{
    background-color: #e6eafa;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.2),
        0 1px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card p{
    font-size: 36px;
}