.footer{
    background-color: #40437e;
    color: white;
    padding: 20px 10px;
}

.footer .footer-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 670px){
    .footer .footer-flex{
        flex-direction: column;
    }
}