*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    /* background-color: rgb(195, 228, 239); */
    background-color: #D4DCFF;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    font-family: 'Poppins', sans-serif;
}

.main h1{
    margin: 24px;
    text-align: center;
    color: rgb(29, 29, 41)
}

form .textarea{
    width: 560px;
    height: 50px;
    resize: none;
    border-radius: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 8px;
    outline: none;
    /* border: none; */
    border: 1px solid rgb(201, 226, 229);
    background-color: #e8ecfe;

    &:focus{
        outline: none;
    }
}