*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    /* background-color: rgb(195, 228, 239); */
    background-color: #D4DCFF;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.page-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content{
    flex: 1;
}

body{
    font-family: 'Poppins', sans-serif;
}

.btn{
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.main h1{
    margin: 96px 0 10px 0;
    text-align: center;
    color: rgb(29, 29, 41)
}

.main .action-text{
    text-align: center;
    font-size: 1.2rem;
    margin: 20px 0 50px 0;
}

@media (max-width: 450px){
    .main .action-text {
        font-size: 1.1rem;
        margin-left: 10px;
        margin-right: 10px;
    }
}

form .textarea{
    width: 560px;
    height: 50px;
    resize: none;
    border-radius: 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 12px 16px;
    outline: none;
    border: 1px solid rgb(201, 226, 229);
    background-color: #e8ecfe;

    &:focus{
        outline: none;
    }
}

@media (max-width: 560px){
    form .textarea{
        width: 90%;
        margin: 0 10px;
    }
}

.flex-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 650px){
    .flex-form{
        flex-direction: column;
        align-items: center;
    }
}

form .btn-submit{
    background-color: #40437e;
    color: white;
    padding: 6px 12px;
    border-radius: 16px;
    padding: 10px 16px;

    &:hover{
        background-color: #171935;
    }
}

.card-container{
    margin: 50px auto;
    max-width: 600px;
}

@media (max-width: 610px){
    .card-container{
        margin: 50px 10px;
    }
}

.card-container .notes-flex{
    display: flex;
    justify-content: space-between;
}

.card-container .clear{
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 5px;
}

.card-container .drag-note{
    font-size: 14px;
    margin-bottom: 5px;

    .drag-icon{
        color: rgb(29, 29, 41);
        margin: 0 5px;
    }

    .drag-note-flex{
        display: flex;
        align-items: center;
    }
}

