.nav{
    margin: 16px auto;
    width: 1200px;
}

@media (max-width: 1200px){
    .nav{
        width: 95%;
    }
}

.navbar-ul{
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    padding: 20px;

}

.nav .navbar-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 2px 0;
}

.navbar-ul .logo{
    font-family: 'Pacifico', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #7D83FF;
    margin: 4px 12px;
    padding: 2px 8px;

    &:hover{
        color: #33377b;
    }
}

.navbar-ul .nav-link-ul{
    display: flex;
    list-style: none;
}

.nav-link .link{
    text-decoration: none;
    color: rgb(29, 29, 41);

    &:hover{
        color: #7D83FF;
        text-decoration: underline;
    }
}

.navbar-ul .nav-link{
    margin: 4px 12px;
    padding: 2px 8px;
}

.nav .github-icon{
    display: none;
}

@media (max-width: 420px){
    .nav .github{
        display: none;
    }

    .nav .github-icon {
        display: block;
        font-size: 1.2rem;
    }

    .navbar-ul .nav-link-ul {
        align-items: center;
    }
}
